/*Global styles and settings */

@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --color: white;
  --footer-color-1: #111626;
  --footer-color-2: #212b49;
  --time: 0.5s;
  --opacity: rgb(0 0 0 / 50%);
  --padding: 80px;
  font-size: 10px;
}

body {
  font-family: var(--body-font);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding) 0px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: var(--padding) 15px;
  }
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* componets */
.special-title {
  text-align: center;
}

.special-title h2 {
  color: var(--secondary-font-color);
  font-family: var(--secondary-font);
  font-size: 12rem;
  font-weight: 400;
}

.special-title p {
  color: var(--color);
  font-size: 4rem;
  font-family: var(--main-font);
  font-weight: 600;
  margin-top: -50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.special-title div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px auto;
  width: 90%;
}

.special-title hr {
  width: 100px;
  height: 2px;
  background: var(--color);
}

.special-title hr::after {
  content: "";
  position: absolute;
  border: 6px solid;
  top: 2px;
}

.special-title hr.left::after {
  left: 0px;
  border-color: transparent transparent transparent var(--color);
}

.special-title hr.right::after {
  right: 0px;
  border-color: transparent var(--color) transparent transparent;
}

.special-title i {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
}

@media (max-width: 768px) {
  .special-title h2 {
    font-size: 10rem;
  }

  .special-title p {
    font-size: 3rem;
  }
}

.special-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 5px 0px;
  position: relative;
  color: var(--secondary-font-color);
  font-size: 2rem;
  text-transform: capitalize;
}

.special-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--secondary-font-color);
  top: 100%;
  right: 0px;
  transition: var(--time);
}

.special-link:hover::after {
  width: 0%;
}

.special-link::before {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
  transition: var(--time) var(--time);
  opacity: 0;
}

.special-link:hover::before {
  animation: story-link var(--time) linear var(--time) 1 forwards;
}

@keyframes story-link {
  to {
    transform: translate(100%, -50%);
    opacity: 1;
  }
}

/* settings nav  */

nav {
  background: rgb(0 0 0 / 70%);
  color: var(--color);
  font-size: 2rem;
  position: absolute;
  width: 100%;
}

nav .container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 10px 15px;
  display: block;
  text-transform: capitalize;
  color: var(--color);
  transition: var(--time);
  position: relative;
  height: 50px;
}

nav ul a:hover,
nav a.active {
  color: var(--secondary-font-color);
  background: var(--body-font-color);
}

nav ul a:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  width: 00%;
  height: 5px;
  background: var(--color);
  transition: var(--time);
}

nav ul a:hover::after,
nav a.active::after {
  width: 100%;
}

nav .bar {
  display: none;
}

nav .bar:hover ~ ul {
  display: block;
  position: absolute;
}

nav .bar ul:hover {
  display: block;
  position: absolute;
}
nav .bar:hover ~ ul.main-links {
  left: 0px;
  top: 50px;
  background: var(--opacity);
  width: 100%;
}

nav .bar:hover ~ ul.sub-links {
  left: 0px;
  top: 250px;
  background: var(--opacity);
  width: 100%;
}

nav .section-left {
  display: flex;
  align-items: center;
}

nav .number {
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
}

nav .number:hover {
  color: var(--main-font-color-dark);
}

nav .number:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: inherit;
  border: 2px solid var(--color);
  transition: var(--time);
  z-index: -1;
}

nav .number:hover:after {
  border-color: var(--secondary-font-color);
  border-width: 20px;
}

@media (max-width: 991px) and (min-width: 768px) {
  nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  nav .container {
    padding: 0px 15px;
  }

  nav ul {
    display: none;
  }

  nav .bar {
    display: block;
  }
}

.hidden {
  display: none;
}
