/* start project */
.scroll {
  padding: 20px;
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.scroll a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 15px;
  border: 3px solid var(--secondary-font-color);
}

.scroll li.active a {
  background: var(--secondary-font-color);
}

@media (max-width: 768px) {
  .scroll {
    display: none;
  }
}

/* start header */
.landing {
  background-image: url(../images/rosa/hero.jpg);
  background-size: cover;
  height: 100vh;
}

.landing .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing .container .content p {
  color: var(--color);
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.landing .container .content a {
  display: block;
  margin: 20px auto;
  width: fit-content;
  background: var(--color);
  padding: 12px 35px;
  font-size: 1.5rem;
  color: var(--body-font-color);
  border-radius: 8px;
  transition: var(--time);
}

.landing .container .content a:hover {
  color: var(--color);
  background: var(--secondary-font-color);
}

@media (max-width: 768px) {
  .landing {
    background-position: bottom;
  }
}

.story .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story .special-title {
  margin-bottom: 61px;
}

.story .content {
  width: 60%;
  margin-right: 60px;
}

.story .special-title p {
  color: var(--main-font-color-dark);
}

.story .text {
  color: var(--body-font-color);
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.7;
}

.story img {
  width: 50%;
}

@media (max-width: 992px) {
  .story .container {
    flex-direction: column;
  }

  .story .content {
    width: 100%;
    margin-right: 0px;
  }

  .story img {
    width: 100%;
  }
}

.recipes {
  background-image: url(../images/rosa/tasteful-recipes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.recipes .special-title {
  padding: 20px;
}

@media (max-width: 768px) {
  .recipes .container {
    flex-direction: column-reverse;
  }
}

.menu .container {
  display: flex;
  flex-direction: row-reverse;
}

.menu .content {
  flex-basis: 50%;
}

.menu .content .special-title p {
  color: var(--main-font-color-dark);
}

.menu .content .text {
  color: var(--body-font-color);
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.7;
  padding: 30px 30px 0px;
}

.menu .images {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  flex-basis: 50%;

  margin-right: 20px;
}

.menu .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .menu .container {
    flex-direction: column-reverse;
  }

  .menu .images {
    width: 90%;
    margin: 0px auto;
  }
}

.blend {
  background-image: url(../images/rosa/perfect-blend.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.blend .special-title h2 {
  padding: 20px;
}

@media (max-width: 768px) {
  .blend {
    background-position: 30%;
  }

  .blend .special-title h2 {
    font-size: 8rem;
  }
}

.delight .container {
  display: flex;
}

.delight .container .content {
  flex-basis: 48%;
}

.delight .container .content .special-title p {
  color: var(--main-font-color-dark);
}

.delight .container .content .text {
  color: var(--body-font-color);
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.7;
  padding: 30px 30px 0px;
}

.delight .images {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.delight .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .delight .container {
    flex-direction: column-reverse;
  }

  .delight .images {
    width: 90%;
    margin: 0px auto;
  }
}

footer {
  color: var(--color);
}

footer .info {
  background: var(--footer-color-2);
}

footer .copy {
  background: var(--footer-color-1);
}

footer .container {
  font-size: 2.5rem;
  padding: calc(var(--padding) / 4);
}

footer a {
  color: var(--color);
  text-decoration: underline;
  transition: var(--time);
}

footer a:hover {
  color: var(--secondary-font-color);
}

footer .info .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .info .contact * {
  margin: 10px;
}

footer .projects h2 {
  font-size: 8rem;
  font-weight: 400;
  margin: 40px 0px -20px 0px;
}

footer .images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  perspective: 1200px;
}

footer .image {
  border: 5px solid var(--secondary-font-color);
  background: white;

  height: 250px;
  width: 200px;
  margin: 20px;
  flex-grow: 1;

  position: relative;
  transform-style: preserve-3d;
  transition: var(--time);
}

footer .image:hover {
  transform: rotatex(-180deg);
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  backface-visibility: hidden;
}

footer .image a {
  display: block;
  position: absolute;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color);
  color: var(--secondary-font-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 5rem;

  backface-visibility: hidden;
  transform: rotatex(180deg);
}

footer .follow {
  text-align: center;
  margin: 30px 0px;
}

footer .follow a {
  font-size: 10rem;
  position: relative;
}

footer .follow p {
  color: var(--secondary-font-color);
  font-family: var(--secondary-font);
  font-size: 6rem;
  font-weight: 400;
}

footer .follow span {
  display: block;
  width: 80px;
  height: 120px;
  position: relative;
  background: var(--color);
  margin: 0px auto;
  border-radius: 50px 50px 0px 0px;
  transform: translateX(-10px) rotate(-45deg) scale(0.5);
  animation-name: heart;
  animation-duration: var(--time);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  --animation-color: red;
}

footer .follow span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: inherit;
  border-radius: 50px 50px 0px 0px;
  top: 0px;
  left: 0px;
  transform: rotate(90deg) translate(60px, -59px);
}

@keyframes heart {
  to {
    transform: translateX(-10px) rotate(-45deg) scale(0.7);
    background: var(--animation-color);
  }
}

footer .follow span:hover {
  --animation-color: var(--secondary-font-color);
  cursor: pointer;
}

footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copy .container {
  display: flex;
  justify-content: center;
}

footer .copy a {
  margin-left: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  footer .kasper img {
    object-position: 0px -60px;
  }
}

@media (max-width: 767px) {
  footer .info .contact * {
    margin: 10px;
    font-size: 1.7rem;
  }

  footer .copy .container {
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
  }

  footer .copy a {
    margin: 10px 0px;
  }
}
